@using Models

<div class="education">
    <h3>@if(data != null) @data?.Name (@data?.DegreeYear)</h3>
    <div>@if(data != null) @data?.Description</div>
</div>

@code {
    [Parameter]
    public EducationModel? data { get; set; }
}
